<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Virtual Machine Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Virtual Machine Detail</h1>
    <p><strong>ID:</strong> <span th:text="${vm.id}"></span></p>
    <p><strong>IP Address:</strong> <span th:text="${vm.ip}"></span></p>
    <p><strong>Operating System:</strong> <span th:text="${vm.os}"></span></p>

    <h3>Metrics</h3>
    <div id="metricsAccordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                            aria-controls="collapseOne">
                        Metrics JSON
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#metricsAccordion">
                <div class="card-body">
                    <pre><code
                            th:utext="'<script>document.write(JSON.stringify(' + ${metricsJson} + '))</script>'"></code></pre>
                </div>
            </div>
        </div>
    </div>

    <h3 class="mt-4">Create File</h3>
    <div class="form-group">
        <label for="filePathInput">File Path:</label>
        <input type="text" class="form-control" id="filePathInput">
    </div>
    <div class="form-group">
        <label for="fileContentInput">Content:</label>
        <textarea class="form-control" id="fileContentInput"></textarea>
    </div>
    <button class="btn btn-primary" th:ip="${vm.ip}" onclick="createFile(this.getAttribute('ip'))">Create File</button>

    <h3 class="mt-4">Run Command</h3>
    <div class="form-group">
        <label for="filePathInput">Command:</label>
        <input type="text" class="form-control" id="command">
    </div>
    <button class="btn btn-primary" th:ip="${vm.ip}" onclick="runCmd(this.getAttribute('ip'))">Run Command</button>

    <h3 class="mt-4">Create User</h3>
    <div class="form-group">
        <label for="filePathInput">Username:</label>
        <input type="text" class="form-control" id="username">
    </div>
    <div class="form-group">
        <label for="filePathInput">Password:</label>
        <input type="text" class="form-control" id="password">
    </div>
    <button class="btn btn-primary" th:ip="${vm.ip}" onclick="createUser(this.getAttribute('ip'))">Create User</button>

    <h3></h3>
    <a href="/vms" class="btn btn-primary mt-4 mb-4">Return to Virtual Machines List</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function createFile(vmIP) {
        var filePath = document.getElementById('filePathInput').value;
        var fileContent = document.getElementById('fileContentInput').value;
        var url = 'http://' + vmIP + ':48934/configure';
        var data = {
            "write-files": [
                {
                    "filepath": filePath,
                    "content": fileContent
                }
            ]
        };
        post(url, data)
    }

    function runCmd(vmIP) {
        var command = document.getElementById('command').value;
        var url = 'http://' + vmIP + ':48934/configure';
        var data = {
            "run-command": [
                {
                    "command": command,
                }
            ]
        };
        post(url, data)
    }

    function createUser(vmIP) {
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        var url = 'http://' + vmIP + ':48934/configure';
        var data = {
            "add-users": [
                {
                    "username": username,
                    "password": password
                }
            ]
        };
        post(url, data)
    }

    function post(url, data) {
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        }).then(response => {
                if (!response.ok) {
                    return response.text().then(text => {
                        return text
                    })
                } else {
                    return response.json();
                }
            }
        ).then(data => {
            alert(`Response: ${JSON.stringify(data)}`);
        })
    }
</script>
</body>
</html>
