<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Virtual Machines</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .clickable-row {
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1>Virtual Machines</h1>
    <div class="mb-3">
        <a href="#" class="btn btn-primary" th:href="@{/vms(page=${currentPage})}">Обновить</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>IP Address</th>
            <th>Operating System</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vm : ${vms}" th:class="clickable-row" th:data-href="@{/vms/{id}(id=${vm.id})}">
            <td th:text="${vm.id}">ID</td>
            <td th:text="${vm.ip}">IP</td>
            <td th:text="${vm.os}">OS</td>
        </tr>
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link" th:href="@{/vms(page=${currentPage - 1})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, totalPages)}" th:classappend="${pageNum == currentPage} ? 'active'">
                <a class="page-link" th:href="@{/vms(page=${pageNum})}" th:text="${pageNum}">1</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/vms(page=${currentPage + 1})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var rows = document.querySelectorAll(".clickable-row");
        rows.forEach(function(row) {
            row.addEventListener("click", function() {
                window.location = row.getAttribute("data-href");
            });
        });
    });
</script>
</body>
</html>
